/* ideas from [basscss](http://www.basscss.com) */

* {
  box-sizing: border-box;  
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

body{
  background: white url("hands.svg") fixed no-repeat bottom;
}

a { text-decoration: none; }

#logo { margin: 1em 0; }
#logo img#logo { height: 3.5em; }
#logo h3 { letter-spacing: 1.5px; }


.red-borderx {
  border-top: 3px solid rgb(255, 70, 0);
  border-bottom: 3px solid rgb(255, 70, 0);
}

#content .subsection {
  padding-top: 30vh;
  height: 60em;
}

#content .subsection#landing #video {
  width: 30em;
  height: 17em;
}

#col-1 { height: 10px;}

#footer li { height: 100%; }
#footer li span {
  display: block; 
  font-size: 1.2em;
  margin-top: 0.35em;
  text-align: center;
  width: 100%;
  letter-spacing: 1.2px;
}

/* positioning */


.left{ float: left; }
.right{ float: right; }
.clear { clear: both; }

.list-reset { list-style: none; padding: 0; }

.m-auto { margin-left: auto; margin-right: auto; }
.m0 { margin: 0; }
.mr05 { margin-right: 0.5em; }
.mr1 { margin-right: 1em; }
.ml15 { margin-left: 1.5em; }
.mr15 { margin-right: 1.5em; }
.mr2 { margin-right: 2em; }
.mb15 { margin-bottom: 1.5em; }
.mb5 { margin-bottom: 5em; }

.inline-block { display: inline-block; }

.w55 { width: 55%; }
.w50 { width: 50%; }
.w45 { width: 45%; }
.w40 { width: 40%; }
.w20 { width: 20%; }
.w24 { width: 24%; }
.w25 { width: 25%; }
.w12 { width: 12.5%; }
.w75 { width: 75%; }
.wfill { width: 100%; }

.h30 { height: 30em; }
.h3 { height: 3em; }
.w3 { width: 3em; }

.hfill { height: 100%; }

.p0 { padding: 0; }
.p05 { padding: 0.5em; }
.p1 { padding: 1em; }
.p15 { padding: 1.5em; }
.p2 { padding: 2em; }
.py0 { padding-top: 0; padding-bottom: 0em;}
.py1 { padding-top: 1em; padding-bottom: 1em;}
.py05 { padding-top: 0.5em; padding-bottom: 0.5em;}
.py2 { padding-top: 2em; padding-bottom: 2em;}
.px0 { padding-left: 0; padding-right: 0;}
.px05 { padding-left: 0.5em; padding-right: 0.5em;}
.px2 { padding-left: 2em; padding-right: 2em;}

/* Text */
.bold { font-weight: 700; }
.red-text { color: rgb(255, 70, 0); }
.white-text { color: white; }
.black-text { color: black; }
.black-text:visited { color: black; }
.black-text:active { color: black; }
.white-text { color: white; }
.white-text:visited { color: white; }
.white-text:active { color: white; }

.smaller {font-size: 0.8em; }
.medium {font-size: 1.2em;}
.bigger {font-size: 2em;}
.fw300 { font-weight: 300; }
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.ls1 { letter-spacing: 1px; }

.center-text { text-align: center; }

.lh15 { line-height: 15em; }


.yellow-bg { background-color: rgb(255, 240, 0); }
.white-bg { background-color: white; }
.black-bg { background-color: black; }
.red-bg { background-color: rgb(255, 70, 0); }
.fixed { position: fixed; }
.absolute { position: absolute; }
.l-to-r { left: 0; right: 0; }

.square15 { height: 15em; width: 15em; }

.circle { border-radius: 100%; }

.vertical-middle { vertical-align: middle; }
