/* ideas from [basscss](http://www.basscss.com) */

* {
  box-sizing: border-box;  
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

a { text-decoration: none; color: inherit;}

p {
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 1px;
}

li {
  margin-bottom: 1em;
}

.list-reset li {
  margin-bottom: 0;
}

.link {
  font-weight: 500;
  text-decoration: underline;
}

#bar { background-color: white; height: 3em; z-index: 1; }

#logo { margin: 0 0 0.5em 0; }
#logo img#logo { height: 3.4em; }
#logo h3 { letter-spacing: 1.5px; }
#logo #explanatory-text { visibility: hidden; }
#logo:hover #explanatory-text { visibility: visible }
#header { z-index: 1; }

.red-borderx {
  border-top: 3px solid rgb(255, 70, 0);
  border-bottom: 3px solid rgb(255, 70, 0);
}

#content .subsection {
  padding-top: 25vh;
  padding-bottom: 10em;
  clear: both;
}

#content .subsection-full {
  padding-top: 25vh;
  padding-bottom: 10em;
  clear: both;
}

#content .gallery {
  padding-top: 23vh;
  padding-bottom: 15em;
  clear: both;
}

#content .subsection#landing {
  padding-top: 20vh;
  padding-bottom: 5em;
}

#content .subsection#landing #video {
  width: 30em;
  height: 17em;
	margin-left: 20%;
}

#menu { background-color: #fff; }
#col-1 { height: 10px;}

#footer { 
  bottom: 0em; 
  height: 100px;  
  clear: both;
}

#footer li { height: 100%; }
#footer li span {
  display: block; 
  font-size: 1em;
  margin-top: 0.35em;
  text-align: center;
  width: 100%;
  letter-spacing: 1.2px;
}

.control {
  display: inline-block;
}

/* positioning */

.h90 { height: 90%; }
.h32 { height: 3.2em; }
.h20 { height: 20em; }
.h2 { height: 2em; }

.left{ float: left; }
.right{ float: right; }
.clear { clear: both; }

.list-reset { list-style: none; padding: 0; }
.list-square { list-style: square; }
.list-line { list-style-type: '-'; }

.mrn3 { margin-right: -3em; }

.m-auto { margin-left: auto; margin-right: auto; }
.m0 { margin: 0; }
.mr05 { margin-right: 0.5em; }
.mr1 { margin-right: 1em; }
.mr2 { margin-right: 2em; }
.ml05 { margin-left: 0.5em; }
.ml1 { margin-left: 1em; }
.ml15 { margin-left: 1.5em; }
.ml2 { margin-left: 2em; }
.mr15 { margin-right: 1.5em; }
.mr2 { margin-right: 2em; }
.mb15 { margin-bottom: 1.5em; }
.mb5 { margin-bottom: 5em; }
.mt05 { margin-top: 0.5em; }
.mt1 { margin-top: 1em; }
.mt15 { margin-top: 1.5em; }
.mt2 { margin-top: 2em; }
.mt25 { margin-top: 2.5em; }
.mt3 { margin-top: 3em; }
.mr50 { margin-right: 50%; }

.inline-block { display: inline-block; }

.w60 { width: 55%; }
.w55 { width: 55%; }
.w50 { width: 50%; }
.w45 { width: 45%; }
.w40 { width: 40%; }
.w30 { width: 30%; }
.w20 { width: 20%; }
.w24 { width: 24%; }
.w25 { width: 25%; }
.w12 { width: 12.5%; }
.w70 { width: 70%; }
.w75 { width: 75%; }
.wfill { width: 100%; }

.mh500 { max-height: 500px; overflow: hidden; }

.h30 { height: 30em; }
.h40 { height: 40em; }
.h50 { height: 50em; }
.hfill { height: 100%; }
.h3 { height: 3em; }
.w18em { width: 1.8em; }
.w2em { width: 2em; }
.w25em { width: 2.5em; }

.hfill { height: 100%; }

.p0 { padding: 0; }
.p05 { padding: 0.5em; }
.p1 { padding: 1em; }
.p15 { padding: 1.5em; }
.p2 { padding: 2em; }
.p25 { padding: 2.5em; }
.pt05 { padding-top: 0.5em; }
.pt1 { padding-top: 1em; }
.py0 { padding-top: 0; padding-bottom: 0em;}
.py1 { padding-top: 1em; padding-bottom: 1em;}
.py05 { padding-top: 0.5em; padding-bottom: 0.5em;}
.py06 { padding-top: 0.4em; padding-bottom: 0.7em;}
.py2 { padding-top: 2em; padding-bottom: 2em;}
.px0 { padding-left: 0; padding-right: 0;}
.px05 { padding-left: 0.5em; padding-right: 0.5em;}
.px2 { padding-left: 2em; padding-right: 2em;}

/* Text */
.bold { font-weight: 700; }
.italic { font-style: italic; }
.red-text { color: rgb(255, 70, 0); }
.white-text { color: white; }
.black-text { color: black; }
.black-text:visited { color: black; }
.black-text:active { color: black; }
.white-text { color: white; }
.white-text:visited { color: white; }
.white-text:active { color: white; }

.smallest {font-size: 0.75em; }
.smaller {font-size: 0.8em; }
.bit-bigger {font-size: 1.1em; }
.medium {font-size: 1.2em;}
.bigger {font-size: 2em;}
.fw300 { font-weight: 300; }
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }
.ls1 { letter-spacing: 1px; }

.center-text { text-align: center; }
.italic { font-style: italic; }

.lh15 { line-height: 15em; }


.pink-bg { background-color: rgb(248, 186, 195); }
.green-bg { background-color: rgb(150, 165, 5); }
.yellow-bg { background-color: rgb(248, 225, 0); }
.orange-bg { background-color: rgb(250, 170, 0); }
.purple-bg { background-color: rgb(155, 180, 230); }
.blue-bg { background-color: rgb(165, 220, 230); }
.grey-bg { background-color: #cdcdcd; }
.white-bg { background-color: white; }
.red-bg { background-color: rgb(255, 70, 0); }
.fixed { position: fixed; }
.absolute { position: absolute; }
.relative {	position: relative; }
.l-to-r { left: 0; right: 0; }

.square15 { height: 25em; width: 25em; }

.circle {
	border-radius: 100%;
	margin-left: 50%;
	margin-top: 3.1em;
	margin-bottom: 10em;
}

.circle h1 {
	font-size: 3.7em;
}

.center-vertically { top: 50%; transform: translateY(-50%); }

.vertical-middle { vertical-align: middle; }
.vertical-top { vertical-align: top; }

.active { border-bottom: 2px solid #000; }


@media only screen and (min-device-width: 768px) {

  .background {
    background: url("hands.svg") fixed no-repeat;
    background-position: bottom;
    background-size: 74% 74%;
  }

  #content {
    width: 95%;
  }

  #content .subsection {
    width: 50%;
  }
  
  #content .subsection .content {
    max-width: 700px;
  }
}

@media only screen and (max-device-width: 768px) {

  #menu {
    width: 100%;
  }

  #content .subsection {
    width: 100%;
  }
}

.biggest {
  font-size: 2.9em;
}
